data/*
casme_processed/
*desktop.ini
.venv/
.venv_medusa/
__pycache__/
*.zip
.env
./best_baseline_subj1.pth
./best_baseline_subj2.pth
./best_baseline_subj3.pth
./quick_test.pth
./sample_log.csv
./baseline_mer.ipynb
casme_processed/*
casme_raft_processed*/*
.cache/*
