configobj
numpy
opencv-python
scipy
setproctitle
tqdm
# deep learning
torch
torchvision
timm
scikit-image
pandas
# backend
fastapi
uvicorn[standard]
python-multipart

# Added for the RAFT + Swin MER Pipeline
torch>=1.12.0
torchvision>=0.13.0
timm>=0.6.0
pandas
